
body{
	margin: 0 auto;
}
.container{
	width: 100%;
	height: auto;
	background-color: #fbfcfc;

}
.header{
	background-color: #eeebec;
	height: 120px;
	width: 100%;
}
.nav-logo{
	height: 120px;
	width: 40%;
	background-color: #eeebec;
	float: left;
}
.nav-logo img{
	margin-top: 40px;
	margin-left: 235px;
}
.nav-link{
	height: 120px;
	width: 55%;
	background-color: #eeebec;
	float: right;
}
ul{
	list-style-type: none;
}
li{
	float: left;
	margin: 35px;
}
li a{
	text-decoration: none;
	color: #7a6666;
	font-family: lato-regular;
}
li a:hover{
	color: #b7950b;
}
li a:active{
	color: #CB3362;
	text-decoration: underline;

}
.banner{
	height: 660px;
	background-color: #f8f8f8;
}
.banner img{
	margin-left: 120px;
}
.delight{
	height: 
}.new-product{
	height: 254px;
	background-color: #eeebec;
}
.product-text{
	height: 220px;
	background-color: #eeebec;
	width: 500px;
	float: left;
	margin-top: 20px;
	margin-left: 220px;
}
.product-text h1{
	font-size: 18px;
	color: #7a6666;

}
.product-text h2{
	font-size: 30px;
	color: #E32A62;
	font-weight: normal;
	margin-left: -160px;
}
.product-text p{
	color: #7a6666;
	line-height: 25px;
}
.product-image{
	height: 220px;
	width: 300px;
	background-color: #eeebec;
	float: right;
	margin-top: 0;
	margin-right: 280px;
}
.second-nav{
	height: 160px;
	width: 100%;
	background-color: #c8c10d;
	position: relative;

}
.second-nav a{
	text-decoration: none;

}
.nav1{
	height: 140px;
	width: 16.6%;
	background-color: #c8c10d;
	float: left;
	margin-top: 10px;
}
.nav2{
	height: 140px;
	width: 16.6%;
	background-color: #c8c10d;
	float: left;
	margin-top: 10px;
}
.nav3{
	height: 140px;
	width: 16.6%;
	background-color: #c8c10d;
	float: left;
	margin-top: 10px;
}
.nav4{
	height: 140px;
	width: 16.6%;
	background-color: #c8c10d;
	float: left;
	margin-top: 10px;
}
.nav5{
	height: 140px;
	width: 16.6%;
	background-color: #c8c10d;
	float: left;
	margin-top: 10px;
}
.nav6{
	height: 140px;
	width: 16.6%;
	background-color: #c8c10d;
	float: left;
	margin-top: 10px;
}
.second-nav h1{
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	margin-top: 80px;
}
.footer{
	height: 200px;
	background-color: #CB3362;
}
.social ul{
	margin: auto;
	margin-left: 440px;
	padding-top: 30px;
}
.social a{
	color: #f8f8f8;
}
.footer p{
	margin-top: 90px;
	/*float: left;*/
	color: #f8f8f8;
	margin: auto;
	margin-top: 80px;
	margin-left: -100px;
}
.author{
	
	width: 200px;
	height: 50px;
	margin-top: 90px;
	margin: 0 auto;
}
.author p{
	margin-left: 30px;
	color: #eeebec;
}
.footer p a{
	text-decoration: none;
	color: #f8f8f8;
}
.footer p a:hover{
	color: #b7950b;
}
/*CONTACT*/
.page-header{
	height: 100px;
	background-color: #c8c10d;
}
.page-header h1{
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	margin-top: 00px;
	margin: auto;
}
.address-container{
	height: 180px;
	width: 800px;
	background-image: url(images/bg-transparent.png);
	margin-left: 300px;
	margin-top: 40px;
	position: absolute;
}
.map{
	height: 250px;
	background-image: url("images/map.jpg");

}.address-container img{
	margin-top: 40px;
	margin-left: 120px;
}
.address-container h1{
	margin-top: -80px;
	margin-left: 240px;
	font-size: 25px;
	color: #CB3362;
}
.main-body{
	height: 700px;
	background-color: #fbfcfc;
}
.form-section{
	height: 650px;
	background-color: #ffffff;
	width: 650px;
	margin-left: 150px;
	float: left;
	margin-top: 40px;
}
.form-section h1{
	margin-left: 40px;
	color: #CB3362;
	font-size: 25px;
}
.side-section{
	height: 200px;
	width: 300px;
	background-color: #eeebec;
	float: left;
	margin-left: 40px;
	margin-top: 60px;
}
.side-section h1{
	font-size: 25px;
	text-align: center;
	color: #CB3362;
}
.side-section p{
	text-align: center;
	color: #7a6666;
}
input{
	width: 90%;
	margin: 5px;
}
input[type=text]{
	padding: 12px 20px;
	box-sizing: border-box;
	border:1px solid #7a6666;
	border-radius: 5px;
}
textarea{
	width: 90%;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 12px 10px;
	border: 1px solid #7a6666;
	margin: 5px;
	resize: none;

}
button{
	background-color: #CB3362;
	cursor: pointer;
	padding: 16px 32px;
	margin: 4px 2px;
	border-radius: 5px;
	border: 1px solid #CB3362;
	color: #eeebec;
}
/*ABOUT*/
.banner1{
	height: 250px;
	background-image: url(images/bg-header-about.jpg);

}
.side-section1{
	height: 500px;
	background-color: #eeebec;
	margin-left: 270px;
	width: 300px;
	float: left;
	margin-top: 60px;

}
.side-section1 h1{
	font-size: 25px;
	color: #CB3362;
	text-align: center;
}
.side-section1 p{
	text-align: center;
	line-height: 35px;
	color: #7a6666;
}
.main-section{
	height: 500px;
	background-color: #fbfcfc;
	width: 600px;
	float: left;
	margin-left: 70px;
	margin-top: 60px;
}
.main-section h1{
	font-size: 25px;
	text-align: center;
	color: #CB3362;
}
.main-section p{
	text-align: center;
	line-height: 30px;
	color: #7a6666;
}
/*BLOG*/
.blog{
	height: 900px;
	background-color: #fbfcfc;
}
.featured{
	height: 800px;
	width: 600px;
	background-color: #fbfcfc;
	float: left;
	margin-top: 50px;
	margin-left: 150px;
}
.side-featured{
	height: 600px;
	width: 300px;
	background-color: #EFEDEE;
	float: left;
	margin-top: 50px;
	border-radius: 5px;
}
.side-featured h1,h2{
	font-size: 25px;
	color: #CB3362;
	text-align: center;

}
.side-featured img{
	margin-left: 50px;
}
.side-featured p{
	text-align: center;
	color: #7a6666;
}
button{
	margin-left: 80px;
	color: #7a6666;
	background-color: #fbfcfc;
	border:1px solid #7a6666;; 
}
button:hover{
	background-color: #c8c10d;
}
.featured h1{
	margin-top: -150px;
	font-size: 21px;
	margin-left: 190px;
	color: #CB3362;
}
.featured span{
	margin-left: 220px;
	color: #7a6666;
}
.featured p{
	text-align: center;
	margin-left: 190px;
	color: #7a6666;
}
.featured button{
	margin-left: 250px;
}
/*SINGLE-POST*/
.single-post{
	height: 900px;
	background-color: #fbfcfc;
}
.post{
	height: 800px;
	width: 600px;
	background-color: #fbfcfc;
	float: left;
	margin-top: 50px;
	margin-left: 150px;
}
.post img{
	margin-top: -51px;
	margin-left: -75px;
}
.post h1{
	margin-top: 20px;
	font-size: 21px;
	margin-left: -70px;
	color: #CB3362;
}
.post span{
	margin-left: -70px;
	color: #7a6666;
}
.post p{
	text-align: center;
	margin-left: -70px;
	color: #7a6666;
	line-height: 30px;
}
.post button{
	margin-top: -80px;
	margin-left: 120px;
}
/*PRODUTCS*/
.products{
	height: 1200px;
	width: 1300px;
	background-color: #fbfcfc;
	margin-left: 20px;
}
.products li{
	float: left;

}
.products h1{
   font-size: 25px;
   color: #E32A62;
}
.products p{
	color: #7A6666;
}
